@font-face {
  font-family: 'NotoSans';
  src: local('NotoSans'), url(../fonts/NotoSans.ttf) format('truetype');
}

body {
  @apply text-lg leading-relaxed;
  font-family: 'NotoSans', sans-serif, Arial, Helvetica;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  @apply h-full overflow-hidden bg-[#0f1520] text-white;
}
