@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';

@layer components {
  .btn {
    @apply inline-flex items-center justify-center gap-1 whitespace-nowrap rounded-xl border-2 px-2 py-4 leading-4 shadow-inner transition-all duration-300 ease-in-out disabled:cursor-not-allowed disabled:text-opacity-50 disabled:opacity-50;
  }

  .link {
    @apply font-medium transition-all duration-300 ease-in-out visited:text-opacity-80 hover:text-opacity-80;
  }

  .text {
    &--common {
      color: $rarity-common;
    }

    &--rare {
      color: $rarity-rare;
    }

    &--elite {
      color: $rarity-elite;
    }

    &--senior {
      color: $rarity-senior;
    }
  }

  .dialog {
    @apply fixed inset-0 z-[99] grid items-center justify-center overflow-y-auto;

    &__panel {
      @apply z-[100] my-8 inline-block w-full rounded-lg p-6 align-middle shadow-lg;

      &--title {
        @apply text-2xl font-bold;
      }

      &--description {
        @apply text-xl;
      }

      &--section {
        @apply text-base;
      }

      &--actions {
        @apply flex justify-end gap-2;
      }
    }
  }

  .disclosure {
    @apply flex flex-col gap-1;

    &__button {
      @apply flex w-full items-center rounded-lg px-4 py-3 text-left text-lg font-medium transition-all duration-300 ease-in-out ui-open:bg-secondary/60 hover:bg-secondary/60  focus:outline-none focus-visible:bg-secondary/60 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75;
    }

    &__button-text {
      @apply flex-grow;
    }

    &__content {
      @apply ml-4 flex flex-col gap-2 rounded-lg bg-secondary/60 p-4 px-4 text-lg;
    }
  }

  .form-field {
    @apply flex flex-col gap-2;

    &__label {
      @apply flex items-center text-sm font-bold;
    }

    &__input {
      @apply form-input block w-full rounded-lg border border-primary bg-gray-200 p-2.5 text-sm text-gray-900 transition-all;

      &:focus {
        @apply ring-2  ring-primary;
      }

      &[aria-invalid='true'] {
        @apply border-warning ring-warning;
      }
    }

    &__error {
      @apply whitespace-pre-line text-sm text-warning;
    }
  }

  .match-history {
    @apply grid w-full grid-cols-3 rounded-xl border-2 border-secondary bg-slate-50 p-4 text-primary;

    &__player {
      @apply flex flex-col gap-2;

      &--last {
        @apply items-end;
      }
    }

    &__result {
      @apply flex flex-col items-center justify-center gap-2;
    }

    &__result-text {
      @apply text-2xl font-bold;
    }
  }

  .kbd {
    @apply inline-flex items-center justify-center gap-2 rounded-lg px-1;
  }

  .pagination {
    @apply flex items-center justify-center;

    &__item {
      @apply inline-flex items-center justify-center gap-2 rounded-sm border-secondary px-2 py-0.5 transition-all;

      &--active {
        @apply border-b-2;
      }

      &:disabled {
        @apply cursor-not-allowed opacity-50;
      }

      &:not(:disabled):hover {
        @apply border-b-2 bg-secondary/50;
      }
    }
  }

  .tab {
    @apply flex flex-col gap-2;

    &__list {
      @apply flex flex-col gap-1 rounded-xl p-1 sm:flex-row;
    }

    &__list-item {
      @apply flex-grow rounded-lg bg-white p-2.5 text-sm font-medium leading-5 text-secondary shadow-md ring-white ring-opacity-60 ring-offset-2 ring-offset-secondary transition-all ui-selected:bg-secondary ui-selected:text-white ui-disabled:opacity-60 hover:bg-secondary hover:text-white focus-visible:bg-secondary focus-visible:text-white;
    }

    &__panel-item {
      @apply p-4;
    }
  }

  .display-item {
    @apply flex w-full flex-row items-center gap-2 rounded-lg p-2 shadow-md;

    &__title-container {
      @apply flex flex-grow flex-col justify-center gap-2;
    }

    &__title {
      @apply text-xl font-bold;
    }

    &__subtitle {
      @apply text-sm;
    }

    &__info {
      @apply text-right text-lg;
    }
  }

  .themed-scrollbar {
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-secondary scrollbar-corner-transparent;
  }

  // Inspired from https://www.codepel.com/cards/css-cards-with-3d-image-view-on-hover/
  .operator-card {
    perspective: 2500px;
    @apply relative flex h-[22rem] w-72 max-w-[90vw] select-none items-end justify-center;

    &__wrapper {
      transition:
        transform 0.5s ease-in-out,
        box-shadow 0.25s ease-in-out;
      @apply absolute -z-[1] h-full w-full rounded-xl border-8 border-black p-1;

      &--highlight-common {
        box-shadow: 0 0 1.25rem 0.25rem $rarity-common;
      }

      &--highlight-rare {
        box-shadow: 0 0 1.25rem 0.25rem $rarity-rare;
      }

      &--highlight-elite {
        box-shadow: 0 0 1.25rem 0.25rem $rarity-elite;
      }

      &--highlight-senior {
        box-shadow: 0 0 1.25rem 0.25rem $rarity-senior;
      }

      &::before,
      &::after {
        @apply absolute left-0 h-20 w-full opacity-0 transition-all duration-500 ease-in-out content-[''];
      }

      &::before {
        @apply top-0 h-full bg-gradient-to-t from-transparent via-[rgba(12,13,19,0.5)] to-[rgba(12,13,19)];
      }

      &::after {
        @apply bottom-0 bg-gradient-to-b from-transparent via-[rgba(12,13,19,0.5)] to-[rgba(12,13,19)] opacity-100;
      }
    }

    &__class-icon {
      @apply absolute left-2 top-2 rounded-full bg-slate-800 bg-opacity-40 p-1 transition-all duration-500 ease-in-out;
    }

    &__cover-image {
      @apply h-full w-full object-cover;
    }

    &__background-image {
      @apply absolute inset-0 -z-[2] h-full w-full object-cover;
    }

    &__info {
      @apply flex w-full flex-row items-end px-5 pb-4 transition-all duration-500 ease-in-out;
    }

    &__title {
      @apply flex-grow text-2xl font-bold text-slate-100 drop-shadow-xl;
    }

    &__stats {
      @apply flex flex-col items-end justify-center gap-0.5 rounded-xl p-1 text-slate-50 transition-all duration-300;
    }

    &__stat {
      @apply flex flex-row items-center justify-center gap-2;

      &--cost {
        @apply opacity-0 transition-all duration-500 ease-in-out;
      }
    }

    &__character {
      @apply absolute -z-[1] w-full opacity-0 transition-all duration-500 ease-in-out;
    }

    &--active {
      .operator-card {
        &__wrapper {
          transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
          box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);

          &--highlight-common {
            box-shadow: 0 0 2.25rem 0.6rem #48abe0;
          }

          &--highlight-rare {
            box-shadow: 0 0 2.25rem 0.6rem #9c8add;
          }

          &--highlight-elite {
            box-shadow: 0 0 2.25rem 0.6rem #cfb88c;
          }

          &--highlight-senior {
            box-shadow: 0 0 2.25rem 0.6rem #ca841f;
          }

          &::before,
          &::after {
            @apply opacity-100;
          }

          &::after {
            @apply h-[7.5rem];
          }
        }

        &__class-icon {
          @apply bg-slate-800 bg-opacity-0 opacity-50;
        }

        &__info {
          transform: translate3d(0%, -2rem, 12.5rem);
        }

        &__character {
          transform: translate3d(0%, -30%, 6.25rem);
          @apply opacity-100;
        }

        &__stats {
          @apply bg-slate-800/40;
        }

        &__stat--cost {
          @apply opacity-100;
        }
      }
    }

    &:hover & {
      &__wrapper {
        &--highlight-common {
          box-shadow: 0 0 2.25rem 0.6rem #48abe0;
        }

        &--highlight-rare {
          box-shadow: 0 0 2.25rem 0.6rem #9c8add;
        }

        &--highlight-elite {
          box-shadow: 0 0 2.25rem 0.6rem #cfb88c;
        }

        &--highlight-senior {
          box-shadow: 0 0 2.25rem 0.6rem #ca841f;
        }
      }
    }

    &:focus-visible & {
      &__wrapper {
        &--highlight-common {
          box-shadow: 0 0 2.25rem 0.6rem #48abe0;
        }

        &--highlight-rare {
          box-shadow: 0 0 2.25rem 0.6rem #9c8add;
        }

        &--highlight-elite {
          box-shadow: 0 0 2.25rem 0.6rem #cfb88c;
        }

        &--highlight-senior {
          box-shadow: 0 0 2.25rem 0.6rem #ca841f;
        }
      }
    }
  }
}
